<!--<mat-toolbar>-->
<!--  <mat-toolbar-row>-->
<!--    <button mat-button (click)="goToPage('login')">Login</button>-->
<!--    <button mat-button (click)="goToPage('register')">Register</button>-->
<!--    <button mat-button (click)="goToPage('dashboard')">Dashboard</button>-->
<!--    <button mat-button (click)="logout()">Logout</button>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 (click)="goToPage('dashboard')">Recipe-App</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Recipe Application for Code Monk</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
     <a mat-list-item [routerLink]="'/login'"> Login </a>
      <a mat-list-item [routerLink]="'/register'"> Create Account </a>
      <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
    <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
